.content
  .left-container
    .chatbot-raise-button
      = link_to 'チャットボットに覚えさせる', dictionaries_path
    .info-wrapper
      .info-wrapper-body
        .info-wrapper__title
          対応文言
        %ul.info-wrapper__item
          %li 「こんにちは」
          %li 「こんばんは」
          %li 「おやすみ」
          %li 「今何時？」
          %li 「今日の○○の天気は？」
          %li 「もうかりまっか？」
          %li 「はじめまして」
          %li 「元気？」
          %li 「さようなら」 ...
  .main-wrapper
    .history-title.history-title-hidden
      最新のコメント順に10件表示しています。
    .form-area
      = form_for @chat, url: { controller: :chats, action: :create }, html: { class: 'form' } do |f|
        .chat-form.clearfix
          .chat-form__input
            = f.text_field :user_input, class: "text-field", placeholder: "チャットを開始しましょう。"
          .chat-form__button
            %button.send-button
              %span 送信
    .chat-lists
    %button.change-button.history-button
      %span 履歴を表示する
