.main-wrapper
  .main-wrapper-body
    .chat-form.clearfix
      .chat-form__input
        %input
      .chat-form__button
        %button
          %span 送信

    .chat-lists
      .chat-lists-body
        .chat-item
          %span.chat-item__datetime
            10:10:00
          %span.chat-item__name
            You >
          %span.chat-item__text
            こんにちは
        .chat-item
          %span.chat-item__datetime
            10:10:00
          %span.chat-item__name
            Bot >
          %span.chat-item__text
            こんにちは

