.main-wrapper
  .main-wrapper-body
    = form_for @chat, url: { controller: :chats, action: :create} do |f|
      .chat-form.clearfix
        .chat-form__input
          = f.text_field :user_input, class: "text-field"
        .chat-form__button
          %button.send-button
            %span 送信
    .chat-lists
