<div class='create-list-item'>
  <div class='create-list-item__request'>
    ユーザーの入力 > <%= @dictionary.request %>
  </div>
  <div class='create-list-item__response'>
    ボットのレスポンス > <%= @dictionary.response %>
  </div>
</div>
